@font-face {
	font-family: 'DINNextLTPro-MediumCond';
	src: url(../../assets/fonts/DINNextLTPro-MediumCond.woff2) format('woff2'),
	url(../../assets/fonts/DINNextLTPro-MediumCond.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}