@font-face {
	font-family: 'DINNextLTPro-Medium';
	src: url(../../assets/fonts/DINNextLTPro-Medium.woff2) format('woff2'),
	url(../../assets/fonts/DINNextLTPro-Medium.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}