@font-face {
	font-family: 'DINNextLTPro-BoldCondensed';
	src: url(../../assets/fonts/DINNextLTPro-BoldCondensed.woff2) format('woff2'),
	url(../../assets/fonts/DINNextLTPro-BoldCondensed.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}